<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="U9SrvTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
	<service name="UFIDA.U9.Safor.VW.PLMSV.PLMToU9ModifySV.ModifyMOPickListStub" behaviorConfiguration="U9SrvTypeBehaviors">
        <endpoint contract="UFIDA.U9.Safor.VW.PLMSV.PLMToU9ModifySV.IModifyMOPickList" binding="basicHttpBinding" />
      </service>
	</services>
  </system.serviceModel>
</configuration>